* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}

.topbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 55px 0 20px;
}

.topbar__logo {
  width: 187px;
  height: 57px;
  text-align: center;
  & > a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 42px;
    width: inherit;
    transform: scale(1.09,0.97);
    font-weight: bold;
  }
  & > img {
    position: absolute;
    top: -9px;
    left: 0;
    z-index: -1;
  }
}

.topbar__search-bar {
  margin-top: 21px;
}

.topbar__search-bar-input {
  width: 318px;
  height: 36px;
  font-size: 19px;
}

.topbar__search-bar-button {
  width: 120px;
  height: 36px;
  padding: 0;
  font-size: 19px;
  color: white;
  background: #00aedb;
  border: none;
}

.topbar__social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 125px;
  & > img {
    align-self: flex-end;
    display: block;
    width: 38px;
    height: 36px;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.navbar__link {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  width: 106px;
  // height: 36px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  color: white;
  &:last-of-type {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
  }
}

//модификатоы для navbar__link
.navbar__link_main {
  background: #00aedb;
}
.navbar__link_kino {
  background: #8cc63f;
}
.navbar__link_shop {
  background: #5261ac;
}
.navbar__link_projects {
  background: #00aedb;
}
.navbar__link_news {
  background: #f78f1d;
}
.navbar__link_archive {
  background: #ff0000;
}
.navbar__link_contacts {
  background: #898989;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content__left {
  width: 652px;
  & > h1 {
    font-size: 35px;
  }
}

.gallery {
  padding: 12.5px;
}

.gallery__big-item > img {
  margin: 12.5px;
}

.gallery__small-items > img {
  box-sizing: border-box;
  width: 144px;
  height: 144px;
  object-fit: cover;
  padding: 3px;
  margin-left: 12.5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  &:first-of-type {
    margin-left: 0;
  }
}

.main-content__right {
  width: 326px;
  & h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    background: #5261ac;
    color: white;
    margin: 0;
  }
}

.interesting {
  & > .custom-header {
    display: flex;
    flex-direction: row;
    & > h2 {
      width: 163px;
    }
    & > img {
      fill: #5261AC;
    }
  }
}

.interesting__navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.interesting__navbar-link {
  display: inline-block;
  width: 98px;
  font-size: 18px;
  // font-weight: bold;
  text-align: center;
  line-height: 36px;
  background: #5261ac;
  color: white;
  margin: 0;
  &:last-of-type {
    flex-grow: 1;
  }
}

//модификаторы для interesting__navbar-link
.interesting__navbar-link_fashion {
  background: #ec098d;
}
.interesting__navbar-link_kino {
  background: #f78f1d;
}
.interesting__navbar-link_tv {
  background: #00aedb;
}

.interesting__content-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 15.5px 0;
  &::after {
    content: '';
    top: 130px;
    position: absolute;
    width: 310px;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  &:last-of-type {
    padding-bottom: 24px;
    &::after {
      border-bottom: none;
    }
  }
}

.interesting__image {
  flex-shrink: 0;
  width: 83px;
  text-align: center;
  & > img {
    box-sizing: border-box;
    // height: 97px;
    max-width: 81px;
    object-fit: cover;
    padding: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  }
}

.interesting__text {
  margin-left: 11px;
  margin-top: -3px;
  width: 234px;
  & > h3 {
    font-size: 15px;
    margin: 0 0 8px;
  }
  & > p {
    font-size: 13px;
    margin: 0;
    width: 224px;
  }
}


.liked {
  & > h2 {
    width: 326px;
  }
}

.liked__content-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 18px 0;
  &:last-of-type {
    padding-bottom: 24px;
  }
}

.liked__image {
  flex-shrink: 0;
  width: 83px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    padding: 2px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  }
}

.liked__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 11px;
  width: 234px;
  font-size: 13px;
  & > p {
    margin: 0;
    width: 224px;
    & > a {
      display: inline-block;
      margin-top: 11px;
      text-decoration: none;
      color: #22b9e0;
    }
  }
}