* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}

.topbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar__logo > img {
  position: absolute;
  z-index: -1;
}

.topbar__social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar__social-icons > img {
  display: block;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.navbar__link {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  width: 106px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  color: white;
}

.navbar__link:last-of-type {
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
}

.navbar__link_main {
  background: #00aedb;
}

.navbar__link_kino {
  background: #8cc63f;
}

.navbar__link_shop {
  background: #5261ac;
}

.navbar__link_projects {
  background: #00aedb;
}

.navbar__link_news {
  background: #f78f1d;
}

.navbar__link_archive {
  background: #ff0000;
}

.navbar__link_contacts {
  background: #898989;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content__left {
  width: 652px;
}

.main-content__left > h1 {
  font-size: 35px;
}

.gallery {
  padding: 12.5px;
}

.gallery__big-item > img {
  margin: 12.5px;
}

.gallery__small-items > img {
  box-sizing: border-box;
  width: 144px;
  height: 144px;
  object-fit: cover;
  padding: 3px;
  margin-left: 12.5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.gallery__small-items > img:first-of-type {
  margin-left: 0;
}

.main-content__right {
  width: 326px;
}

.main-content__right h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  background: #5261ac;
  color: white;
  margin: 0;
}

.interesting > .custom-header {
  display: flex;
  flex-direction: row;
}

.interesting > .custom-header > h2 {
  width: 163px;
}

.interesting > .custom-header > img {
  fill: #5261AC;
}

.interesting__navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.interesting__navbar-link {
  display: inline-block;
  width: 98px;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  background: #5261ac;
  color: white;
  margin: 0;
}

.interesting__navbar-link:last-of-type {
  flex-grow: 1;
}

.interesting__navbar-link_fashion {
  background: #ec098d;
}

.interesting__navbar-link_kino {
  background: #f78f1d;
}

.interesting__navbar-link_tv {
  background: #00aedb;
}

.interesting__content-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 15.5px 0;
}

.interesting__content-item::after {
  content: '';
  top: 130px;
  position: absolute;
  width: 310px;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.interesting__content-item:last-of-type {
  padding-bottom: 24px;
}

.interesting__content-item:last-of-type::after {
  border-bottom: none;
}

.interesting__image {
  flex-shrink: 0;
  width: 83px;
  text-align: center;
}

.interesting__image > img {
  box-sizing: border-box;
  max-width: 81px;
  object-fit: cover;
  padding: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.interesting__text {
  margin-left: 11px;
  margin-top: -3px;
  width: 234px;
}

.interesting__text > h3 {
  font-size: 15px;
  margin: 0 0 8px;
}

.interesting__text > p {
  font-size: 13px;
  margin: 0;
  width: 224px;
}

.liked > h2 {
  width: 326px;
}

.liked__content-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 18px 0;
}

.liked__content-item:last-of-type {
  padding-bottom: 24px;
}

.liked__image {
  flex-shrink: 0;
  width: 83px;
  text-align: center;
}

.liked__image > img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  padding: 2px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.liked__text {
  margin-left: 11px;
  margin-top: -3px;
  width: 234px;
  font-size: 13px;
}

.liked__text > p {
  margin: 0;
  width: 224px;
}

.liked__text > p > a {
  line-height: 40px;
  text-decoration: none;
  color: #22b9e0;
}
/*# sourceMappingURL=style.css.map */