@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: #ebebeb;
}

.graphics__left {
  position: absolute;
  transform-origin: left top;
  transform: rotate(38deg);
  z-index: -1;
  top: calc(-50px * 5 + 50px);
  left: calc(-50px * 5);
}

.graphics__left-item {
  width: 1000px;
  height: 50px;
}

.graphics__item_orange {
  background: #f78f1d;
}

.graphics__item_pink {
  background: #ec098d;
}

.graphics__item_deep-blue {
  background: #5261ac;
}

.graphics__item_green {
  background: #8cc63f;
}

.graphics__item_light-blue {
  background: #00aedb;
}

.graphics__item_grey {
  background: #ebebeb;
}

.gutter {
  position: absolute;
  height: 100%;
  width: 14px;
  right: -14px;
  overflow: hidden;
}

.graphics__right {
  position: absolute;
  transform-origin: right top;
  transform: rotate(-45deg);
  z-index: -1;
  top: -23px;
  right: 0;
}

.graphics__right-item {
  width: 1500px;
  height: 25px;
}

.centered-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1054px;
  margin: 0 auto;
  background: white;
}

.mobile-menu {
  position: absolute;
  display: none;
  right: 15px;
  top: 50px;
  z-index: 150;
}

.mobile__search-bar {
  margin: 22px 40px 0 0;
  display: none;
}

.mobile__search-bar-input {
  width: 318px;
  height: 36px;
  font-size: 19px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile__search-bar-button {
  width: 120px;
  height: calc(36px / 0.97);
  padding: 0;
  font-size: 19px;
  font-weight: 700;
  transform: scale(1, 0.97);
  color: white;
  background: #00aedb;
  border: none;
  cursor: pointer;
}

.topbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 37px auto 17px;
  width: 94.11%;
}

.topbar__logo {
  width: 187px;
  height: 57px;
  text-align: center;
}

.topbar__logo > a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 42px;
  font-weight: 700;
  width: inherit;
  transform: scale(1.0133, 1);
  z-index: 1;
  margin-top: 1px;
}

.topbar__logo > img {
  position: absolute;
  top: -9px;
  left: 0;
}

.topbar__search-bar {
  margin: 22px 40px 0 0;
}

.topbar__search-bar-input {
  width: 318px;
  height: 36px;
  font-size: 19px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.topbar__search-bar-button {
  width: 120px;
  height: calc(36px / 0.97);
  padding: 0;
  font-size: 19px;
  font-weight: 700;
  transform: scale(1, 0.97);
  color: white;
  background: #00aedb;
  border: none;
  cursor: pointer;
}

.topbar__social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 125px;
  margin: 0 1px 5px 0;
}

.topbar__social-icons > img {
  align-self: flex-end;
  display: block;
  width: 38px;
  height: 36px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  width: 94.11%;
}

.mobile-navbar_active {
  display: initial !important;
  width: 100% !important;
}

.navbar__link {
  flex-shrink: 1;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  width: 106px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  color: white;
  padding: 0;
  border: none;
  cursor: pointer;
}

.navbar__link:last-of-type {
  width: 111px;
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar__link_main {
  background: #00aedb;
}

.navbar__link_kino {
  background: #8cc63f;
}

.navbar__link_shop {
  background: #5261ac;
}

.navbar__link_projects {
  background: #00aedb;
}

.navbar__link_news {
  background: #f78f1d;
}

.navbar__link_archive {
  background: #ff0000;
}

.navbar__link_contacts {
  background: #898989;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94.97%;
  margin-left: 33px;
}

.main-content__left {
  width: 652px;
}

.main-content__left > h1 {
  font-size: 35px;
  font-weight: 700;
  transform: scale(1.02, 1);
  margin: 21px 0 6px 6px;
}

.main-content__left > h1:before {
  content: '28';
  text-align: center;
  font-size: 35px;
  color: #ebebeb;
  top: 9px;
  left: -77px;
  position: absolute;
  width: 67px;
  height: 46px;
  background: #f78f1d;
}

.main-content__left > h1:after {
  content: 'ФЕВ';
  text-align: center;
  font-size: 19px;
  font-weight: 300;
  color: white;
  top: 55px;
  left: -72px;
  position: absolute;
  width: 62px;
  height: 27px;
  background: #00aedb;
}

.main-content__left > p {
  margin: 30px 0 15px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.73);
  word-spacing: 2px;
  letter-spacing: -0.15px;
  line-height: 20px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.main-content__left > p:first-of-type {
  margin-top: 6px;
}

.gallery {
  padding: 12px;
  border: 1px solid #bfbfbf;
  background: #fafafa;
  width: 651px;
  margin-left: -4px;
}

.gallery__big-item > img {
  display: block;
  margin: 0 auto 11px;
  max-width: 626px;
  max-height: 377px;
  object-fit: contain;
}

.gallery__small-items {
  margin: 0 -1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery__small-items > img {
  box-sizing: content-box;
  width: 144px;
  height: 144px;
  object-fit: cover;
  padding: 3px;
  border: 1px solid #bfbfbf;
  cursor: pointer;
}

.main-content__right {
  display: flex;
  flex-direction: column;
  margin: 18px 4px 0 0;
  width: 328px;
}

.main-content__right h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  background: #5261ac;
  color: white;
  margin: 0;
}

.custom-header {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
}

.custom-header > h2 {
  width: 163px;
  font-size: 19px;
}

.custom-header > img {
  fill: #5261AC;
}

.interesting__navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4px 0 0;
}

.interesting__navbar-link {
  position: relative;
  display: inline-block;
  width: 98px;
  font-size: 19px;
  text-align: center;
  line-height: 36px;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.interesting__navbar-link:after {
  display: none;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 8px solid transparent;
  left: calc(50% - 6px);
  bottom: -14px;
}

.interesting__navbar-link:last-of-type {
  flex-grow: 1;
}

.interesting__navbar-link_active:after {
  display: initial;
}

.interesting__navbar-link_fashion {
  background: #ec098d;
}

.interesting__navbar-link_fashion:after {
  border-top-color: #ec098d;
}

.interesting__navbar-link_kino {
  background: #f78f1d;
}

.interesting__navbar-link_kino:after {
  border-top-color: #f78f1d;
}

.interesting__navbar-link_tv {
  background: #00aedb;
}

.interesting__navbar-link_tv:after {
  border-top-color: #00aedb;
}

.interesting__content {
  display: none;
}

.interesting__content_visible {
  display: initial;
}

.interesting__content-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 11px 0;
  width: 318px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.interesting__content-item:first-of-type {
  padding-top: 15.5px;
}

.interesting__content-item:last-of-type {
  padding-bottom: 16px;
  border-bottom: none;
}

.interesting__image {
  flex-shrink: 0;
  width: 83px;
  text-align: center;
}

.interesting__image > img {
  box-sizing: content-box;
  max-width: 81px;
  object-fit: cover;
  padding: 3px;
  border: 1px solid #bfbfbf;
}

.interesting__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 11px;
  margin-top: -6px;
}

.interesting__text > h3 {
  font-size: 15px;
  font-weight: 600;
  color: #22b9e0;
  margin: 0 0 6px;
}

.interesting__text > p {
  font-size: 13px;
  margin: 0;
}

.liked {
  flex: 1;
}

.liked__content-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 18px 0;
  width: 326px;
}

.liked__content-item:last-of-type {
  padding-bottom: 16px;
}

.liked__image {
  flex-shrink: 0;
  width: 83px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.liked__image > img {
  align-self: center;
  box-sizing: content-box;
  height: 69px;
  width: 69px;
  object-fit: cover;
  padding: 2px;
  border: 1px solid #bfbfbf;
}

.liked__text {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  font-size: 13px;
}

.liked__text > p {
  margin: 2px 0 0;
}

.liked__text > p > a {
  display: inline-block;
  margin-top: 11px;
  text-decoration: none;
  color: #22b9e0;
}

@media screen and (max-width: 1200px) {
  .main-content__left {
    width: 92%;
    margin-left: 64px;
    margin-right: 15px;
  }
  .gallery {
    margin: 0 auto;
  }
  .main-content__right {
    margin-top: 40px;
    flex-direction: row;
    width: initial;
  }
  .custom-header {
    margin: 0;
  }
  .interesting__content-item {
    width: initial;
    min-width: 320px;
  }
  .liked__content-item {
    width: initial;
    min-width: 320px;
  }
  .liked {
    margin-left: 10px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1098px) {
  body {
    overflow-X: hidden;
  }
}

@media screen and (max-width: 1030px) {
  body {
    overflow-x: auto;
  }
  .graphics {
    display: none;
  }
  .topbar__search-bar {
    margin-right: 0;
  }
  .topbar__search-bar-input {
    width: 30vw;
  }
  .main-content {
    margin: 0 auto;
  }
  .main-content__left {
    margin: 0 auto;
  }
  .main-content__left > h1 {
    margin-top: 15px;
    min-height: 94px;
    margin-left: 90px;
  }
  .main-content__right {
    margin-left: 30px;
  }
  .interesting__navbar-link:last-of-type {
    max-width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    position: fixed;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 0%;
    display: none;
    height: 100%;
    z-index: 100;
  }
  .topbar {
    justify-content: flex-start;
  }
  .topbar__social-icons {
    margin-left: 5px;
    margin-bottom: 2px;
  }
  .topbar__search-bar {
    display: none;
  }
  .mobile__search-bar {
    display: initial;
  }
  .mobile-menu {
    display: initial;
  }
  .topbar__social-icons {
    margin-right: 70px;
  }
  .navbar__link {
    width: 100%;
    display: block;
    line-height: 72px;
  }
  .navbar__link:last-of-type {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .gallery {
    width: 100%;
  }
  .gallery__big-item > img {
    max-width: 100%;
  }
  .gallery__small-items > img {
    width: calc(100% / 4 - 8px);
    height: calc((100vw - 125px) / 4 - 8px);
  }
  .main-content__left {
    margin: 0 auto;
  }
  .main-content__left > h1 {
    min-height: 82px;
    font-size: 30px;
  }
  .main-content__left > h1:before {
    font-size: 30px;
    top: 9px;
    left: -70px;
    width: 60px;
    height: 41px;
  }
  .main-content__left > h1:after {
    font-size: 17px;
    top: 50px;
    left: -65px;
    width: 55px;
    height: 24px;
  }
  .main-content__right {
    width: 92%;
    margin: 0 auto;
    flex-direction: column;
  }
  .interesting__navbar-link:last-of-type {
    max-width: initial;
  }
  .liked {
    margin: 0;
  }
  .interesting__navbar-link_tv {
    text-align: left;
    padding-left: 20px;
  }
}

@media screen and (max-width: 590px) {
  .topbar__logo {
    transform: scale(0.9);
  }
  .topbar__social-icons {
    margin-left: -5px;
    justify-content: flex-start;
  }
  .topbar__social-icons > img {
    margin-left: 2px;
    width: 25px;
    height: 25px;
  }
  .main-content__left {
    margin: 0 auto;
  }
  .main-content__left > h1 {
    min-height: 68px;
    font-size: 25px;
    margin-left: 75px;
  }
  .main-content__left > h1:before {
    font-size: 27px;
    top: 9px;
    left: -62px;
    width: 52px;
    height: 36px;
  }
  .main-content__left > h1:after {
    font-size: 15px;
    top: 45px;
    left: -58px;
    width: 48px;
    height: 21px;
  }
  .gallery {
    padding: 6px;
  }
  .gallery__big-item > img {
    margin-bottom: 6px;
  }
  .gallery__small-items > img {
    padding: 1px;
    width: calc(100% / 4 - 4px);
    height: calc((100vw - 125px) / 4 - 4px);
  }
}

@media screen and (max-width: 380px) {
  .topbar__logo {
    transform: scale(0.8);
    margin-left: -20px;
    margin-bottom: -2px;
  }
  .topbar__social-icons {
    margin-left: -15px;
  }
  .main-content__left {
    margin: 0 auto;
    width: 100%;
  }
  .main-content__left > h1 {
    font-size: 20px;
  }
  .main-content__right {
    width: 100%;
  }
  .gallery__small-items > img {
    height: calc((100vw - 60px) / 4 - 4px);
  }
  .interesting__content-item {
    width: initial;
    min-width: 290px;
  }
  .liked__content-item {
    width: initial;
    min-width: 290px;
  }
}
/*# sourceMappingURL=style.css.map */