* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.graphics__left {
  position: absolute;
  transform-origin: left top;
  transform: rotate(38deg);
  z-index: -1;
  top: calc(-50px * 5 + 50px);
  left: calc(-50px * 5);
}

.graphics__left-item {
  width: 1000px;
  height: 50px;
}

.graphics__item_orange {
  background: #f78f1d;
}

.graphics__item_pink {
  background: #ec098d;
}

.graphics__item_deep-blue {
  background: #5261ac;
}

.graphics__item_green {
  background: #8cc63f;
}

.graphics__item_light-blue {
  background: #00aedb;
}

.gutter {
  position: absolute;
  height: 540px;
  width: 14px;
  right: -14px;
  overflow: hidden;
}

.graphics__right {
  position: absolute;
  transform-origin: right top;
  transform: rotate(-45deg);
  z-index: -1;
  top: -23px;
  right: 0;
}

.graphics__right-item {
  width: 400px;
  height: 25px;
}

.centered-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1054px;
  margin: 0 auto;
  background: white;
}

.topbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 37px auto 17px;
  width: 992px;
}

.topbar__logo {
  width: 187px;
  height: 57px;
  text-align: center;
}

.topbar__logo > a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 42px;
  font-weight: 700;
  width: inherit;
  transform: scale(1.0133, 1);
  z-index: 1;
  margin-top: 1px;
}

.topbar__logo > img {
  position: absolute;
  top: -9px;
  left: 0;
}

.topbar__search-bar {
  margin: 22px 40px 0 0;
}

.topbar__search-bar-input {
  width: 318px;
  height: 36px;
  font-size: 19px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.topbar__search-bar-button {
  width: 120px;
  height: calc(36px / 0.97);
  padding: 0;
  font-size: 19px;
  font-weight: 700;
  transform: scale(1, 0.97);
  color: white;
  background: #00aedb;
  border: none;
}

.topbar__social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 125px;
  margin: 0 1px 5px 0;
}

.topbar__social-icons > img {
  align-self: flex-end;
  display: block;
  width: 38px;
  height: 36px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  width: 992px;
}

.navbar__link {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  width: 106px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  color: white;
}

.navbar__link:last-of-type {
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
}

.navbar__link_main {
  background: #00aedb;
}

.navbar__link_kino {
  background: #8cc63f;
}

.navbar__link_shop {
  background: #5261ac;
}

.navbar__link_projects {
  background: #00aedb;
}

.navbar__link_news {
  background: #f78f1d;
}

.navbar__link_archive {
  background: #ff0000;
}

.navbar__link_contacts {
  background: #898989;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1001px;
  margin-left: 33px;
}

.main-content__left {
  width: 652px;
}

.main-content__left > h1 {
  font-size: 35px;
  font-weight: 700;
  transform: scale(1.02, 1);
  margin: 21px 0 6px 6px;
}

.main-content__left > p {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.73);
  word-spacing: 2px;
  letter-spacing: -0.15px;
  line-height: 20px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.gallery {
  padding: 12.5px;
}

.gallery__big-item > img {
  margin: 12.5px;
}

.gallery__small-items > img {
  box-sizing: border-box;
  width: 144px;
  height: 144px;
  object-fit: cover;
  padding: 3px;
  margin-left: 12.5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.gallery__small-items > img:first-of-type {
  margin-left: 0;
}

.main-content__right {
  margin: 18px 4px 0 0;
  width: 328px;
}

.main-content__right h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  background: #5261ac;
  color: white;
  margin: 0;
}

.interesting > .custom-header {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
}

.interesting > .custom-header > h2 {
  width: 163px;
  font-size: 19px;
}

.interesting > .custom-header > img {
  fill: #5261AC;
}

.interesting__navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4px 0 0;
}

.interesting__navbar-link {
  display: inline-block;
  width: 98px;
  font-size: 19px;
  text-align: center;
  line-height: 36px;
  background: #5261ac;
  color: white;
  margin: 0;
}

.interesting__navbar-link:last-of-type {
  flex-grow: 1;
}

.interesting__navbar-link_fashion {
  background: #ec098d;
}

.interesting__navbar-link_kino {
  background: #f78f1d;
}

.interesting__navbar-link_tv {
  background: #00aedb;
}

.interesting__content-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 13px 0;
}

.interesting__content-item::after {
  content: '';
  top: 125px;
  position: absolute;
  width: 315px;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.interesting__content-item:first-of-type {
  padding-top: 15.5px;
}

.interesting__content-item:first-of-type::after {
  top: 127px;
}

.interesting__content-item:last-of-type {
  padding-bottom: 24px;
}

.interesting__content-item:last-of-type::after {
  border-bottom: none;
}

.interesting__image {
  flex-shrink: 0;
  width: 83px;
  text-align: center;
}

.interesting__image > img {
  box-sizing: border-box;
  max-width: 81px;
  object-fit: cover;
  padding: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.interesting__text {
  margin-left: 11px;
  margin-top: -3px;
  width: 234px;
}

.interesting__text > h3 {
  font-size: 15px;
  font-weight: 600;
  color: #22b9e0;
  margin: 0 0 6px;
}

.interesting__text > p {
  font-size: 13px;
  margin: 0;
  width: 224px;
}

.liked > h2 {
  width: 326px;
}

.liked__content-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 18px 0;
}

.liked__content-item:last-of-type {
  padding-bottom: 24px;
}

.liked__image {
  flex-shrink: 0;
  width: 83px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.liked__image > img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  padding: 2px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.liked__text {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  width: 234px;
  font-size: 13px;
}

.liked__text > p {
  margin: 2px 0 0;
  width: 224px;
}

.liked__text > p > a {
  display: inline-block;
  margin-top: 11px;
  text-decoration: none;
  color: #22b9e0;
}
/*# sourceMappingURL=style.css.map */